:root{
    --purple-dark: #694EC8;
    --purple : #9E6999;
    --green: #6FD59B;
    --black : #1E1E1E;
    --white : #FFFFFB;

    --secondary-pink: #F5BEF0 ;
    --secondary-purple: #E5DEFF ;
    --secondary-green: #E1FDC0 ;

    --tertiary-purple: #A594E2 ;
    --tertiary-green: #207143 ;
    --tertiary-purple-dark: #84297B ;

    --gray-100: #C2C2C2 ;
    --gray-200: #929292 ;
    --gray-300: #585858 ;
    --gray-400: #EBEBEB ;
}
