
input[type = "text"],
input[type = "email"]{
    background: var(--secondary-purple);
    border-radius: 5px;
    border: 1px solid var(--purple-dark);
    padding: 12px;
    color: var(--purple-dark);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    height: 45px;
}

.form-control input::placeholder {
    color: var(--purple-dark);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-checkbox,
.form-radio{
    border-radius: 5px;
    border: 1px solid var(--purple-dark);
    background: var(--secondary-purple);
    display: flex;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    height: 45px;

    input[type = "checkbox"] {
        display: flex;
        width: 24px;
        height: 24px;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 2px;
        border: 1px solid var(--purple-dark);
        background: var(--white);
    }

    input[type = "radio"] {
        display: flex;
        width: 24px;
        height: 24px;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        aspect-ratio: 1/1;
    }

    label {
        color: var(--purple-dark);
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

select.form-control {
    border-radius: 5px;
    border: 1px solid var(--purple-dark);
    background: var(--white);
    height: 45px;
    color: var(--purple-dark);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

textarea.form-control {
    background: var(--secondary-purple);
    border-radius: 5px;
    border: 1px solid var(--purple-dark);
    padding: 12px;
    color: var(--purple-dark);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    height: 180px;
}

input[type = "file"].form-control::file-selector-button {
    display: none;
}

input[type = "file"].form-control {
    opacity: 0;
    border-radius: 5px;
    border: 1px dashed var(--purple-dark);
    display: flex;
    height: 170px;
    padding: 21px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: red;
}

.file-input {
    border-radius: 5px;
    background-image: repeating-linear-gradient(90deg, #694ec8, #694ec8 10px, transparent 10px, transparent 20px), repeating-linear-gradient(180deg, #694ec8, #694ec8 10px, transparent 10px, transparent 20px), repeating-linear-gradient(90deg, #694ec8, #694ec8 10px, transparent 10px, transparent 20px), repeating-linear-gradient(180deg, #694ec8, #694ec8 10px, transparent 10px, transparent 20px);
    background-position: left 13px top, right top, left bottom, left top;
    background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
    background-size: calc(100% * 20) 1px, 1px 100%, 100% 1px, 1px 100%;
    display: flex;
    height: 170px;
    padding: 21px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: red;
    position: relative;
    overflow: hidden;

    @media (min-width: 768px) {
        width: 600px;
        height: 600px;
    }

    .image-preview {
        position: absolute;
        top: auto;
        left: auto;
        bottom: auto;

        img {
            object-fit: cover;
            width: 330px;
            height: 450px;
            border-radius: 5px;
            margin: auto;
        }


    }

    .btn-custom {
        position: absolute;
        top: auto;
        bottom: auto;
        left: auto;
        bottom: auto;
    }
}
